/* ==========================================================================
   Buttons
   ========================================================================== */

.c-button {
    background-color: $color-4;
    width: 180px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: $color-white;
    border-style: none;
    border-radius: 25px;
    cursor: pointer;
}

.c-button span {
    display: inline-block;
    position: relative;
    transition: $animation-basic;
  }

.c-button span:after {
    content: '\00BB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: $animation-basic;
}

.c-button:hover {
    span {
        padding-right: 20px;
    }

    span:after {
        opacity: 1;
        right: 0;
    }
}
