/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
    display: flex;
    justify-content: center;
}
