@media only screen and (max-width: 768px) {
    .c-header__title .t-heading-1 + .t-heading-2 {
        padding-top: 10px;
    }
    .t-heading-2 + .t-heading-3 {
        padding-top: 15px;
    }
    .c-header__title .t-heading-3 {
        width: 100%;
        max-width: 300px;
    }
}
