.c-list,
.c-list__item {
    display: flex;
}

/* ==========================================================================
Simple-list - Icon-box
========================================================================== */

.c-list--icon {
    width: 100%;
    max-width: 900px;
    border-radius: 4px;
    background-color: $color-white;
    position: absolute;
    top: 0;
    left: 10.55%;
    transform: translateY(-50%);
    box-shadow: 21px 76px 106px -11px #f1f1f1;
    justify-content: space-between;
    padding: 34px 0 30px 0;
}

.c-list--icon  .c-list__item {
    flex-direction: column;
    width: 100%;
    max-width: 33,3%;
}

.c-list__item__img,
.c-list__item__desc {
    display: flex;
    justify-content: center;
}

.c-list--icon .c-list__item:first-of-type + .c-list__item:nth-of-type(2):before,
.c-list--icon .c-list__item:nth-of-type(2) + .c-list__item:nth-of-type(3):after {
    content: '';
    border-left: 1px solid #e5e5e5;
    width: 0;
    height: 71px;
    display: block;
    position: absolute;
}

@media only screen and (max-width: 768px) {
    .c-list--icon {
        flex-direction: column;
        justify-content: center;
        left: 0;
        box-shadow: none;
    }
    .c-list--icon .c-list__item {
        padding: 10px 0;
    }
    .c-list--icon .c-list__item:first-of-type + .c-list__item:nth-of-type(2):before,
    .c-list--icon .c-list__item:nth-of-type(2) + .c-list__item:nth-of-type(3):after {
        border: 0;
        height: 1px;
        width: 60%;
        left: 20%;
        background-image: linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }
    .c-list--icon .c-list__item:first-of-type + .c-list__item:nth-of-type(2):before {
        bottom: 63%;
    }
    .c-list--icon .c-list__item:nth-of-type(2):before + .c-list__item:nth-of-type(3):after {
        bottom: 36%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .c-list--icon {
        left: 15%;
        max-width: 700px;
    }
}

/* ==========================================================================
Services-list
========================================================================== */

.c-list--services .c-list__item {
    position: relative;
}

.c-services-border-bottom {
    width: 100%;
    border: 2px solid $color-white;
    position: absolute;
    bottom: 0;
}

.c-list--services .c-list__item:hover {
    .c-services-border-bottom {
        border: 2px solid rgb(252, 95, 69);
        animation: animate 0.3s linear forwards;
    }

    .o-icon {
        color: rgb(252, 95, 69);
    }
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 100%;
        height: 0;
    }
}

@media only screen and (max-width: 768px) {
    .c-list--services {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .c-list--services .c-list__item {
        padding-bottom: 20px;
    }
    .c-list--services .c-list__item:last-of-type {
        padding-bottom: 0;
    }
    .c-list__item--border-bottom {
        border-bottom: 2px solid rgb(252, 95, 69);
    }
    .c-list--services .o-icon {
        color: rgb(252, 95, 69);
    }
}

/* ==========================================================================
Focus-list
========================================================================== */

.c-list--focus {
    justify-content: center;
}

.c-list--focus .c-list__item {
    cursor: pointer;
    flex-direction: column;
    position: relative;
    width: 33%;
}

.c-list--focus .c-list__item:before,
.c-list--focus .c-list__item:after {
    content: '';
    display: block;
    position: absolute;
    border: 1px solid #d5d8da;
    z-index: 2;
    height: 0;
    width: 50%;
    top: 52%;
}

.c-list--focus .c-list__item:after {
    left: 50%;
}

.c-list--focus .c-list__item:first-of-type {
    &:before {
        display: none;
    }
}

.c-list--focus .c-list__item:last-of-type {
    &:after {
        display: none;
    }
}

.c-focus__list .c-list__item--reverse {
    flex-direction: column-reverse;
}

.c-list--focus .c-list__item__icon,
.c-list--focus .c-list__item__title,
.c-list--focus .c-list__item__text {
    display: flex;
    justify-content: center;
}

.c-list--focus .c-list__item__text {
    text-align: center;
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
}

.c-list--focus .c-list__item__icon {
    border: 1px solid #fc5f45;
    background-color: #fc5f45;
    width: 100%;
    max-width: 69px;
    padding: 16.5px 0;
    margin: 0 auto;
    opacity: 0;
}

.c-list--focus .c-list__item__text {
    opacity: 0;
}

@media only screen and (max-width: 768px) {
    .c-focus__list .c-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
    }
    .c-list__item__icon {
        display: none;
    }
    .c-list--focus .c-list__item {
        flex-direction: row;
        position: relative;
        width: calc(100% - 33px*2);
        padding: 70px 0 50px;
    }
    .c-focus__item__text {
        max-width: 220px;
    }
    .c-list--focus .c-list__item:first-of-type {
        &:after {
            content: '';
            display: block;
            position: absolute;
            border: 1px solid #d5d8da;
            z-index: 2;
            height: 100%;
            width: 0;
            left: -33px;
            top: 100px;
        }
    }
    .c-list--focus .c-list__item:nth-of-type(2) {
        &:before {
            content: '';
            display: block;
            position: absolute;
            border: 1px solid #d5d8da;
            z-index: 2;
            height: 100%;
            width: 0;
            left: -33px;
            top: 100px;
        }
    }
    .c-list--focus .c-list__item:nth-of-type(2) {
        &:after {
            display: none;
        }
    }
    .c-list--focus .c-list__item:last-of-type {
        &:before {
            display: none;
        }
    }
}

/* ==========================================================================
   Member-list
   ========================================================================== */

.c-members-wrapper {
    display: flex;
    flex-direction: column;
}

.c-members-desc__title,
.c-members-desc__text {
    display: flex;
    justify-content: center;
}

.c-list--members {
    justify-content: space-between;
}

.c-list--members .c-list__item--members {
    flex-direction: column;
    border: 2px solid #f2f2f2;
    width:100%;
    max-width: 343px;
    height: 446px;
}

.c-list--members .c-list__item--members:hover {
    transform: scale(1.1);
    border: none;
    box-shadow: 3px 9px 31px -1px rgba(0,0,0,0.75);
    transition: all 0.3s ease-in-out;
}

.c-members-box__portrait,
.c-members-box__title,
.c-members-box__text,
.c-members-box__icon-social {
    display: flex;
    justify-content: center;
}

.c-members-box__text {
    text-align: center;
    max-width: 260px;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .c-members-desc__text {
        text-align: center;
    }
    .c-list--members {
        flex-direction: column;
        align-items: center;
    }
    .c-list--members .c-list__item {
        margin-bottom: 20px;
        box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.75);
    }
    .c-members__list__item:last-of-type {
       margin-bottom: 0;
    }
    .c-list--members .c-list__item:hover {
        transform: scale(1);
        box-shadow: none;
        box-shadow: 5px 5px 24px 0px rgba(0,0,0,0.75);
    }
}

/* ==========================================================================
   Icon-social-list
   ========================================================================== */

.c-members-box__icon-social-list {
    justify-content: space-between;
    width: 100%;
    max-width: 140px;
    display: flex;
}

.c-members-box__icon-social-list__item {
    display: flex;
}

.c-members-box__icon-social-list__item__icon {
    border: 0.79px solid rgb(29, 29, 29);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: $animation-basic;
}

.c-members-box__icon-social-list__item__icon:hover {
    border: 0.79px solid #e9654c;
    background-color: #e9654c;

    .o-icon {
        color: white;
    }
}

/* ==========================================================================
   Advance list
   ========================================================================== */

.c-list--advance .c-list__item {
    flex-direction: column;
    width: 25%;
    justify-content: center;
}

.c-advance-wrapper .c-list__item__number,
.c-advance-wrapper .c-list__item__text {
    display: flex;
    justify-content: center;
}

.c-list--advance .c-list__item:first-of-type + .c-list__item:nth-of-type(2):before,
.c-list--advance .c-list__item:nth-of-type(2) + .c-list__item:nth-of-type(3):after,
.c-list--advance .c-list__item:nth-of-type(3) + .c-list__item:nth-of-type(4):before {
    content: '';
    border-left: 1px solid rgb(179, 178, 183);
    width: 0;
    height: 173px;
    display: block;
    position: absolute;
    transform: rotate(31deg);
}

@media only screen and (max-width: 609px) {
    .c-list--advance {
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }
    .c-list--advance .c-list__item {
        width: 100%;
        max-width: 190px;
    }
    .c-list--advance .c-list__item:first-of-type + .c-list__item:nth-of-type(2):before,
    .c-list--advance .c-list__item:nth-of-type(2) + .c-list__item:nth-of-type(3):after,
    .c-list--advance .c-list__item:nth-of-type(3) + .c-list__item:nth-of-type(4):before {
        display: none;
    }
    .c-list--advance .c-list__item:first-of-type,
    .c-list--advance .c-list__item:nth-of-type(2) {
        padding-bottom: 80px;
    }
}

@media only screen and (min-width: 610px) and (max-width: 768px) {
    .c-list--advance {
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
    }
    .c-list--advance .c-list__item {
        width: 100%;
        max-width: 190px;
    }
    .c-list--advance .c-list__item:first-of-type + .c-list__item:nth-of-type(2):before,
    .c-list--advance .c-list__item:nth-of-type(2) + .c-list__item:nth-of-type(3):after,
    .c-list--advance .c-list__item:nth-of-type(3) + .c-list__item:nth-of-type(4):before {
        display: none;
    }
    .c-list--advance .c-list__item:nth-of-type(2) {
        padding-bottom: 80px;
    }
    .c-list--advance .c-list__item:first-of-type,
    .c-list--advance .c-list__item:nth-of-type(3) {
        position: relative;
        top: 25px;
    }
}

/* ==========================================================================
   Contact list
   ========================================================================== */

.c-contact-wrapper {
    display: flex;
    flex-direction: column;
}

.c-contact-title {
    display: flex;
    justify-content: center;
}

.c-contact-list {
    width: 100%;
    max-width: 585px;
    flex-wrap: wrap;
    margin: 0 auto;
    position: relative;
}

.c-list--contact .c-list__item {
    left: 0;
    justify-content: flex-start;
}

.c-list--contact .c-list__item:first-of-type {
    padding-bottom: 77px;
}

.c-list__item--message .f-form {
    padding-top: 77px;
}

@media only screen and (max-width: 768px) {
    .c-contact-list {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }
    .c-list--contact {
        display: flex;
        flex-direction: column;
    }
    .c-list--contact .c-list__item {
        display: flex;
        flex-direction: column;
    }
}
