/* ==========================================================================
   Icons
   ========================================================================== */

/* styles for fontello icons
.o-icon {
    font-family: $font-ico;
    line-height: 1;

    @extend %helper--inline-flex--center--center;
    &:before {
        margin: 0;

        line-height: 1;

        @extend %helper--inline-flex--center--center;
    }
}
*/

.o-icon {
    display: inline-flex;
    flex-shrink: 0;
    svg {
        fill: currentColor;
    }
 }

.c-list--members .o-icon {
    width: 20px;
    height: 20px;
}

.c-services-list .o-icon {
    width: 49px;
    height: auto;
}
