/* ==========================================================================
   Media scalable wrapper
   ========================================================================== */
.o-media-scalable-wrapper {
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
    &:before {
        @include helper--pseudo;

        width: 100%;
    }
    iframe,
    img {
        @include helper--absolute--center--center;
        display: block;

        width: 100%;
    }
    iframe {

        height: 100%;
    }
    img {
        bottom: auto;
        margin: 0 auto;
    }
    &--16-9 {
        &:before {
            padding-top: $size-scalable-padding_16-9;
        }
    }
    &--4-3 {
        &:before {
            padding-top: $size-scalable-padding_4-3;
        }
    }
}

/* ==========================================================================
   Wrapper - placework
   ========================================================================== */

.c-placework-wrapper {
    display: flex;
    justify-content: flex-end;
}

.c-placework-desc {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 635px;
    padding: 136px 0;
}

@media only screen and (max-width: 768px) {
    .c-placework-desc__title,
    .c-placework-desc__text {
       background: rgba(255, 255, 255, 0.7);
       border-radius: 15px;
       padding: 2px;
    }
    .c-placework-desc {
        padding: 50px 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .c-placework-desc {
        position: relative;
        right: 7%;
        max-width: 435px;
    }
}

/* ==========================================================================
   Services-wrapper
   ========================================================================== */

.c-services-list,
.c-services-wrapper {
    display: flex;
    flex-direction: column;
}

.c-services-desc {
    display: flex;
    flex-direction: column;
}

.c-services-desc__title,
.c-services-desc__text {
    display: flex;
    justify-content: center;
}

.c-list--services {
    justify-content: space-between;
}

.c-services-box__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 215px;
}

.c-services-box {
    padding: 64px 26px 70px;
    background-color: $color-white;
}

.c-services-box__icon,
.c-services-box__title,
.c-services-box__text {
    display: flex;
    justify-content: center;
}

.c-services-box__text {
    text-align: center;
}

.c-services-box__icon {
    height: 100%;
    width: 100%;
    height: 49px;
}

@media only screen and (max-width: 768px) {
    .c-services-box {
        width: 100%;
    }
    .c-services-box__content {
        margin: 0 auto;
    }
    .c-services-desc__text .t-text-4{
        text-align: center;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .c-services-box__title .t-heading-6 {
        font-size: 20px;
    }
}

/* ==========================================================================
   Focus-wrapper
   ========================================================================== */

.c-focus-wrapper {
    display: flex;
    flex-direction: column;
}

.c-focus__title {
    display: flex;
    justify-content: center;
}

.c-list__item__rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d5d8da;
    background-color: #d5d8da;
    width: 10px;
    height: 10px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% -50%);
    z-index: 10;
    cursor: pointer;
}

.c-list--focus .c-list__item:hover {
    .c-list__item__rectangle {
        border: 1px solid #fc5f45;
        background-color: #fc5f45;
        transition: all 0.3s ease-in-out;
    }

    .c-list__rectangle__circle {
        border: 1px solid $color-white;
        background-color: $color-white;
        transition: all 0.3s ease-in-out;
    }

    .c-list__item__icon {
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }

    .c-list__item__text {
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
}

.c-list__rectangle__circle {
    border: 1px solid $color-black;
    background-color: $color-black;
    border-radius: 50%;
    width: 6px;
    height: 6px;
}

@media only screen and (max-width: 768px) {
    .c-list__item__rectangle {
        left: -37px;
        top: 100px;
        transform: translate(-50% -50%);
    }
}

/* ==========================================================================
   Solutions - wrapper
   ========================================================================== */

.c-solutions-wrapper {
    display: flex;
}

.c-solutions-desc {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 485px;
    padding: 61px 0 71px 0;
}

@media only screen and (max-width: 768px) {
    .c-solutions-desc {
        padding: 50px 20px;
    }
    .c-solutions-desc__title,
    .c-solutions-desc__text-1,
    .c-solutions-desc__text-2  {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 15px;
        padding: 2px;
    }
}

/* ==========================================================================
   Member - wrapper
   ========================================================================== */

.c-members-box {
    padding-top: 35px;
}

/* ==========================================================================
   Contact - wrapper
   ========================================================================== */

.c-contact-button {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .c-contact-button {
        padding-top: 50px;
    }
}
