/* ==========================================================================
   COMMON
   ========================================================================== */
// [class*='t-default'] {
//     line-height: 1;
//     > a {
//         @include helper--transition;
//     }
// }

.t-upper {
    text-transform: uppercase;
}


/* ==========================================================================
   Font families
   ========================================================================== */
/*
 * font families used in project:
 *
 * $font-default: 'opensans'
 *
 */
/* font weights used in project:*/

$weight-regular:   400;  // Oswald, Opensans
$weight-bold:      600;  // Oswald, Opensans

/* Font default (opensans)
   ========================================================================== */
// [class*='t-default'] {
//     font-family: $font-default;
// }


/* ==========================================================================
   FONT SIZES
   ========================================================================== */
/*
 * font sizes used in project:
 *
 * t-size-s:       16px
 * t-size-m:       18px
 * t-size-l:       20px
 *
 */

/* size s: 16px
   ========================================================================== */
// .t-size-s {
//     font-size: $font-s;
// }

/* ==========================================================================
   Headings
   ========================================================================== */

.t-heading-1 {
    font-size: 30px;
    letter-spacing: -0.5px;
    color: $color-white;
}

.t-heading-2 {
    font-size: 'Montserrat', sans-serif;
    font-weight: $weight-bold;
    font-size: 55px;
    color: $color-white;
    letter-spacing: 2px;
}

.t-heading-3 {
    font-size: 24px;
    color: $color-white;
}

.t-heading-4 {
    font-weight: $weight-regular;
    font-size: 35px;
    color: $color-black;
    letter-spacing: -1.5px;
}

.t-heading-5 {
    font-size: 14px;
}

.t-heading-6 {
    font-size: 24px;
    font-weight: $weight-bold;
}

.t-heading-7 {
    font-weight: $weight-regular;
    font-size: 35px;
    color: $color-black;
}

.t-heading-8 {
    font-size: 20px;
    font-weight: $weight-bold;
    color: $color-black;
}

.t-heading-9 {
    font-weight: $weight-regular;
    font-size: 35px;
    color: $color-black;
    line-height: 46px;
}

.t-heading-10 {
    font-weight: $weight-bold;
    font-size: 18px;
    color: $color-black;
}

.t-heading-11 {
    font-size: 24px;
    color: $color-white;
    font-weight: $weight-regular;
}

@media only screen and (max-width: 768px) {
    .t-heading-1 {
        font-size: 20px;
    }

    .t-heading-2 {
        font-size: 30px;
    }

    .t-heading-3 {
        font-size: 15px;
    }
}

/* ==========================================================================
   Text
   ========================================================================== */

.t-text-1 {
    font-size: 14px;
}

.t-text-2 {
    line-height: 1.8;
}

.t-text-3 {
    font-size: 14px;
    letter-spacing: -0.7px;
}

.t-text-4 {
    font-size: 18px;
    letter-spacing: 0.2px;
}

.t-text-5 {
    line-height: 27px;
}

.t-text-6 {
    font-size: 18px;
}

.t-text-7 {
    font-size: 16px;
    color: $color-white;
}

.t-text-8 {
    font-size: 16px;
    color: $color-black;
}