/* ==========================================================================
   Typography
   ========================================================================== */


/* Global texts
========================================================================== */
html {
    @include font-smoothing(on);

    font-size: 15px;
}

$weight-regular: 400;

body {
    font-family: 'Roboto', sans-serif;
    font-weight: $weight-regular;
    line-height: 1.4;

    color: rgb(97, 97, 97);
}

a {
    cursor: pointer;
    text-decoration: none;

    color: currentColor;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    &:not([class]) {
        @include helper--link-anim;

        color: $color-default-link;
        &:hover {
            @include helper--link-anim-dash-on-hover;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    &:not([class]) + &:not([class]) {
        margin-top: $size-gutter;
    }
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}


ul,
ol {
    @include helper--list;

    padding-left: $size-gutter;
    &:not([class]) {
        padding-left: $size-gutter;
        li + li {
            margin-top: $size-gutter/2;
        }
    }
}

ul {
    &:not([class]) {
        list-style-type: disc;
    }
}

ol {
    &:not([class]) {
        list-style-type: decimal;
    }
}

ul {
    padding: 0;
}
