/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
========================================================================== */
$color-default: #464646;
$color-black: #000;
$color-white: #fff;
$color-orange: #e9654c;
$color-red: #d4213d;

$color-1: $color-black;
$color-2: $color-white;
$color-3: #d4213d;			// red
$color-4: #e9654c;          // orange

$colors:
    $color-1,
    $color-2,
    $color-3;

$color-default-link: $color-3;

/* Indexes
========================================================================== */
$index-header: 100;

/* Sizes
========================================================================== */
$size-inner: 1140px;
$size-gutter: 20px;

.u-gutter-xl-top {
    padding-top: 225px;
}

.u-gutter-xl-bottom {
    padding-bottom: 280px;
}

.u-gutter-lg-top {
    padding-top: 192px;
}

.u-gutter-lg-bottom {
    padding-bottom: 200px;
}

.u-gutter-l-top {
    padding-top: 142px;
}

.u-gutter-l-bottom {
    padding-bottom: 159px;
}

.u-gutter-md-top {
    padding-top: 125px;
}

.u-gutter-md-bottom {
    padding-bottom: 147px;
}

.u-gutter-m-top {
    padding-top: 118px;
}

.u-gutter-m-bottom {
    padding-bottom: 105px;
}

.u-gutter-sm-top {
    padding-top: 91px;
}

.u-gutter-sm-bottom {
    padding-bottom: 102px;
}

.u-gutter-s-top {
    padding-top: 71px;
}

.u-gutter-s-bottom {
    padding-bottom: 48px;
}

.u-gutter-xs-top {
    padding-top: 0;
}

.u-gutter-xs-bottom {
    padding-bottom: 60px;
}

$size-btn: 8px;

$size-scalable-padding_16-9: 56%;
$size-scalable-padding_4-3: 75%;


/* Fonts
========================================================================== */
$font-default: 		Arial, sans-serif;
$font-ico: 			'fontello';

/* Animation transition
========================================================================== */
$animation-basic: 100ms ease;


/* Breakpoints
========================================================================== */

// breakpoints names used for include-media breakpoint and for gridle
$breakpoint-desktop-small: 'desktop-small';
$breakpoint-tablet: 'tablet';
$breakpoint-phone: 'phone';

// breakpoints values used for include media and for grid gridle
$size-desktop-small: $size-inner + $size-gutter*4;
$size-tablet: 1024px;
$size-phone: 767px;

// breakpoints names array - used to generate custom attributes with include-media rwd
$breakpoints-array:
    $breakpoint-desktop-small,
    $breakpoint-tablet,
    $breakpoint-phone;

// breakpoints values array - used to generate custom attributes with include-media rwd and for include-media itself
$breakpoints: (
    $breakpoint-desktop-small: $size-desktop-small,
    $breakpoint-tablet: $size-tablet,
    $breakpoint-phone: $size-phone
);

$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;

// breakpoint exaples
// body {
//     @include media('<=desktop-small') {
//         background: pink;
//     }
//     @include media('<=tablet') {
//         background: red;
//     }
//     @include media('<=phone') {
//         background: yellow;
//     }
//     @include media('>phone', '<=desktop-small') {
//         border: 5px solid grey;
//     }
//     @include media('>tablet', '<=1100px') {
//         color: red;
//     }
//     @include media('<=phone', 'landscape') {
//         background: orange;
//     }
// }
