/* ==========================================================================
   Inner
   ========================================================================== */
.l-inner {
    @include helper--inner;
}

.l-section--s-1 .l-inner {
    position: relative;
}