/* ==========================================================================
   Sections
   ========================================================================== */
.l-section {
    //
}

/* ==========================================================================
   section-1
   ========================================================================== */

.l-section--s-1 {
    max-height: 0;
    position: relative;
    top: 0;
    left: 0;
}

/* ==========================================================================
   section-2
   ========================================================================== */

.l-section--s-2 {
    background: url(./../img/computer.png) -21% 0% no-repeat;
    margin: 212px 0 153px 0;
}

@media only screen and (max-width: 768px) {
    .l-section--s-2 {
        background-position: 100% 0;
        margin: 160px 0 0;
    }
    .l-section--s-2 .l-inner {
        padding: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .l-section--s-2 {
        background-position: -160% 0;
        margin: 160px 0 0;
    }
    .l-section--s-2 .l-inner {
        padding: 0;
    }
}

/* ==========================================================================
   section-3
   ========================================================================== */

.l-section--s-3 {
    background-color: #f7f7f7;
}

@media only screen and (max-width: 768px) {
    .l-section--s-3 {
        .u-gutter-sm-top {
            padding-top: 50px;
        }
        .u-gutter-sm-bottom {
            padding-bottom: 50px;
        }
    }
}

/* ==========================================================================
   section-4
   ========================================================================== */

@media only screen and (max-width: 768px) {
    .l-section--s-4 {
        .u-gutter-l-top {
            padding-top: 50px;
        }
        .u-gutter-m-bottom {
            padding-bottom: 50px;
        }
    }
}

/* ==========================================================================
   section-5
   ========================================================================== */

.l-section--s-5 {
    background: url(./../img/computer-2.png) 138% 0 no-repeat;
    margin: 46px 0 152px;
}

@media only screen and (max-width: 768px) {
    .l-section--s-5 .l-inner {
        padding: 0;
    }
    .l-section--s-5 {
        background-position: 50% 0;
        margin: 0;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .l-section--s-5 {
        background-position: -200% 0;
        margin: 160px 0 0;
    }
}

/* ==========================================================================
   section-6
   ========================================================================== */

@media only screen and (max-width: 768px) {
    .l-section--s-6 {
        .u-gutter-s-top {
            padding-top: 50px;
        }
        .u-gutter-md-bottom {
            padding-bottom: 50px;
        }
    }
}

/* ==========================================================================
   section-7
   ========================================================================== */

.l-section--s-7 {
    background: url('./../img/computer-3.jpg') 100% 100% no-repeat;
}

@media only screen and (max-width: 768px) {
    .l-section--s-7 {
        .u-gutter-lg-top {
            padding-top: 50px;
        }
        .u-gutter-lg-bottom {
            padding-bottom: 50px;
        }
    }
}

/* ==========================================================================
   section-8
   ========================================================================== */

.l-section--s-8 {
    background: url('./../img/contact-bg.jpg') 100% 100% no-repeat;
}

