/* ==========================================================================
   padding-top: 15px;cing
   ========================================================================== */

/* ==========================================================================
   Header
   ========================================================================== */

.c-header__logo + .c-header__title {
    padding-top: 235px;
}

.c-header__title + .c-header__button {
    padding-top: 41px;
}

@media only screen and (max-width: 768px) {
    .c-header__logo + .c-header__title {
        padding-top: 40px;
    }
}

/* ==========================================================================
   Icon-box-section-1
   ========================================================================== */

.c-list__item__img + .c-list__item__desc {
    padding-top: 12px;
}

/* ==========================================================================
   section-2
   ========================================================================== */

.c-placework-desc .c-placework-desc__title + .c-placework-desc__text {
    margin-top: 20px;
}

.c-placework-desc__text + .c-placework-desc__button {
    padding-top: 52px;
}

/* ==========================================================================
   section-3 - services
   ========================================================================== */

.c-services-desc__title + .c-services-desc__text {
    padding-top: 17px;
}

.c-services-desc + .c-services-list {
    padding-top: 65px;
}

.c-services-box__icon + .c-services-box__title {
    padding-top: 23px;
}

.c-services-box__title + .c-services-box__text {
    padding-top: 26px;
}

@media only screen and (max-width: 768px) {
    .c-services-desc + .c-services-list {
        padding-top: 50px;
    }
}

/* ==========================================================================
   section-4 - focus
   ========================================================================== */

.c-focus__title + .c-focus__list {
    padding-top: 56px; //działa
}

.c-list__item__icon + .c-list__item__title {
    padding-top: 52px;
}

.c-list__item__title + .c-list__item__text {
    padding-top: 11px;
}

.c-list__item--reverse .c-list__item__icon + .c-list__item__title {
    padding-bottom: 52px;
    padding-top: 0;
}

.c-list__item--reverse .c-list__item__title + .c-list__item__text {
    padding-bottom: 11px;
    padding-top: 0;
}

@media only screen and (max-width: 768px) {
    .c-list--focus .c-list__item__icon + .c-list__item__title,
    .c-list__item--reverse .c-list__item__title + .c-list__item__text,
    .c-list__item__title + .c-focus__item__text,
    .c-focus__title + .c-focus__list {
        padding-top: 0;
        padding-bottom: 0;
    }
}

/* ==========================================================================
   section-5 - solutions
   ========================================================================== */

.c-solutions-desc__title + .c-solutions-desc__text-1 {
    margin-top: 35px;
}

.c-solutions-desc__text-1 + .c-solutions-desc__text-2 {
    margin-top: 26px;
}

.c-solutions-desc__text-2 + .c-solutions-desc__button {
    margin-top: 42px;
}

/* ==========================================================================
   section-6 - members
   ========================================================================== */

.c-members-desc + .c-members-container {
    padding-top: 54px;
}

.c-members-desc__title + .c-membersdesc__text {
    padding-top: 20px;
}

.c-members-box__portrait + .c-members-box__title {
    padding-top: 31px;
}

.c-members-box__title + .c-members-box__text {
    padding-top: 5px;
}

.c-members-box__text + .c-members-box__icon-social {
    padding-top: 37px;
}

@media only screen and (max-width: 768px) {
    .c-members-desc + .c-members-container {
        padding-top: 50px;
    }
}

/* ==========================================================================
   section-7 - advance
   ========================================================================== */

.c-advance-wrapper .c-list__item__number + .c-list__item__text {
    padding-top: 20px;
}

/* ==========================================================================
   section-8 - contact
   ========================================================================== */

.c-contact-title + .c-contact-list {
    padding-top: 57px;
}

.c-contact-list + .c-contact-button {
    padding-top: 69px;
}
